body{
  background-image: url(../img/bg-img-3.jpg);
}
table,td,tr{
border: solid 1px black;
border-collapse: collapse;
}
table{
  width: 80%;
  height: 200px;
  margin-left: 60px;
  border: solid 5px black ;
}
td{
  width: 25% ;
  text-align: center;
}
a{
font-size: 30px;
text-align: center;
}